{% extends 'base/base1.html' %}
{% load i18n %}
{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}
{% block content %}
<div id="content">
<div class="white-box">
<div id="details">



{% if user.is_authenticated %}
	<p><strong>{% trans "Name" %}</strong><br />{{ profile.first_name }} {{ profile.last_name }}</p>
	<p><strong>{% trans "E-mail" %}</strong><br />{{ profile.user.email }}</p>
	<p><strong>{% trans "Phone Number" %}</strong><br /> {{ profile.phone_number }}</p>
{% else %}
	<p><strong>**Login to see contact details<p><a href={% url "auth_login" %}><h3>LOGIN</h3></a>
{% endif %}
<p><strong>{% trans "Username" %}</strong><br />{{ profile.user.username }}</p>
{% if profile.pic %}
<img src="/{{ profile.pic }}" width="200" height="200" alt="Profile Picture">
{% endif %}

</div>
</div>
</div>
{% endblock %}