{% extends "base/base1.html" %}
{% load i18n %}

{% block content %}
<h4>Change Password</h4>

{% if form.errors %}
<p>Wrong input, either old password is wrong or both new passwords didn't match</p>
{% endif %}

<div class="formblock">
<form method="post" action="." >{% csrf_token %}

	<p><label for="id_old_password">Old password:</label>
	<input id="id_old_password" name="old_password" type="password" /></p>
	<p><label for="id_new_password1">New password:</label>
	<input id="id_new_password1" name="new_password1" type="password" /></p>
	<p><label for="id_new_password2">New password confirmation:</label>
	<input id="id_new_password2" name="new_password2" type="password" /></p>

<input type="submit" value="{% trans 'Submit' %}" class="updateButton" style="width: 125px; height: 30px; padding-top: 5px; padding-bottom: 5px; line-height: 20px; color: #fff;"  />

</form>

</div>
{% endblock %}