{% extends "base/base1.html" %}

{% block title %}Register As Second{% endblock %}
{% block body_class %}{{ block.super }} registration_form{% endblock %}


{% block content_title %}
  <h2>Register As Second</h2>
{% endblock %}


{% block content %}
<div class="formBlock">

  <form action="{% url 'registration_register_2' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
 
	{{ form.as_p }}
	
	
  <p class="submit"><button type="submit" class="updateButton">Register</button></p>
  </form>
    
</div>

<div class="clr"></div>
{% endblock %}