{% extends "base/base1.html" %}

{% block title %}Register As Teacher{% endblock %}
{% block body_class %}{{ block.super }} registration_form{% endblock %}


{% block content_title %}
  <h2>Register As Teacher</h2>
{% endblock %}


{% block content %}
<div class="formBlock">
  <form action="{% url 'registration_register_t' %}" method="post">{% csrf_token %}

    <p><label for="id_first_name">First Name:</label> 
    <input id="id_first_name" maxlength="30" name="first_name" type="text" /></p>
	<p><label for="id_last_name">Last Name:</label>
	<input id="id_last_name" maxlength="30" name="last_name" type="text" /></p>
	<p><label for="id_qual">Qualification:</label>
	<input id="id_qual" maxlength="30" name="qual" type="text" /></p>
	<p><label for="id_phone_number">Phone Number:</label>
	<input id="id_phone_number" maxlength="15" name="phone_number" type="text" /></p>
	<p class="required"><label for="id_username">Username:</label>
	<input id="id_username" maxlength="30" name="username" type="text" /></p>
	<p class="required"><label for="id_email">E-mail:</label>
	<input id="id_email" name="email" type="email" /></p>
	<p class="required"><label for="id_password1">Password:</label>
	<input id="id_password1" name="password1" type="password" /></p>
	<p class="required"><label for="id_password2">Password (again):</label>
	<input id="id_password2" name="password2" type="password" /></p>
	<p class="required"><label for="id_tos">I have read and agree to the Terms of Service:</label>
	<input id="id_tos" name="tos" type="checkbox" /></p>

	{{ form.errors }}
  <p class="submit"><button type="submit" class="updateButton">Register</button></p>
  </form>
    
</div>

<div class="clr"></div>
{% endblock %}

