{% extends "base/base1.html" %}

{% block content %}
    <form action="" method="get"> {% csrf_token %}
        
       {{ filter.form.as_p }}
       <input type="submit" />
    </form>
    {% for obj in filter %}
    	Profile details:                    First Name: {{ obj.first_name }}<br />
                                Last Name: {{ obj.last_name }}<br/>
                                    Username: {{ obj.user.username }}<br />
                                <img src= "/{{ obj.pic }}" width="200" height="200" alt="Profile Picture">
                                <a href="{% url 'profiles_profile_detail' username=obj.user.username %}">View Full Profile</a>
        
    {% endfor %}
{% endblock %}